:root {
    --main-Color: #795548;
    --section-Color: #EEE;
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html {
    scroll-behavior: smooth;
}
/* Start Landing  */
.landing {
    background-image: url(../imgs/BGIMGS/02.jpeg);
    background-size: cover;
    background-color: #000;
    height: 100vb;
    position: relative;
}
@media (max-width:767px) {
    .landing {
        background-image: none;
    }
}
.landing::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #00000070;
}
.landing nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
    background-color: #ffffffd9;
}
.landing nav .navbar-brand {
    color: #795548;
    font-size: 23px;
}
@media (max-width:767px) {
    .landing nav ul {
        display: none;
    }
    .landing nav .navbar-brand {
        margin: 20px auto;
        transform: translateX(-3%);
    }
}
.landing nav ul li a {
    color: #000;
    font-size: 20px;
    transition: 1s;
}
.landing nav ul li a:hover {
    color: var(--main-Color);
    font-size: 18px;
}
.landing main {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-20%, -20%);
    color: #FFF;
}
@media (max-width:767px) {
    .landing main {
        left: 30%;
        text-align: center;
        width: fit-content;
    }
}
.landing main p {
    font-size: 20px;
    line-height: 2;
    word-spacing: 5px;
}
/* End Landing  */
/* Start Our Gallergy  */
.our-gallery {
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: var(--section-Color);
}
.cats {
    display: grid;
    grid-template-columns: repeat(3,minmax(300px,1fr));
    gap: 20px;
    text-align: center;
    padding: 40px;
}
@media (max-width:999px) {
    .cats {
        grid-template-columns: repeat(2,minmax(300px,1fr));
    }
}
@media (max-width:767px) {
    .cats {
        grid-template-columns: repeat(1,minmax(300px,1fr));
    }
}
.cats .card {
    background-color: #EEE;
    text-decoration: none;
    cursor: pointer;
}
.cats .card:hover {
    background-color: #CCC;
}
.cats .card img {
    height: 300px;
}
.cats .card .text {
    padding: 5px;
}
/* End Our Gallergy  */
/* Start qutuf  */
.qutuf {
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: #000;
    position: relative;
    display: grid;
    align-items: center;
}
.qutuf .container {
    display: grid;
    grid-template-columns: repeat(2, minmax(300px,1fr));
    color: #FFF;
    align-items: center;
}
@media (max-width:767px) {
    .qutuf .container {
        display: block;
        text-align: center;
    }
    .qutuf .container h2 {
        padding-bottom: 20px;
    }
}
.qutuf .container .second {
    display: flex;
    align-items: center;
}
.qutuf .container .second .right .sec,
.qutuf .container .second .left .sec {
    padding: 15px;
}
@media (max-width:767px) {
    .qutuf .container .second {
        flex-direction: column;
    }
}
@media (max-width:999px) {
    .qutuf .container .second {
        flex-direction: column;
    }
}
/* End qutuf  */
/* Start Contact  */
.contact {
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: var(--section-Color);
    position: relative;
}
.contact h2 {
    text-align: center;
    margin-bottom: 30px;
    color: var(--main-Color);
}
.contact .container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    color: var(--main-Color);
}
@media (max-width:767px) {
    .contact .container {
        flex-direction: column;
    }
}
.phones .phone,
.social .email{
    margin-top: 20px;
}
.phones a,
.social a {
    text-decoration: none;
    color: var(--main-Color);
}
.phones a:hover,
.social a:hover {
    color: #000;
}
.phones .fa-whatsapp,
.phones .fa-phone,
.social  .fa-facebook,
.social .fa-envelope{
    padding-right: 20px;
    font-size: 20px;
}
@media (max-width:767px) {
    .phones {
        margin-bottom: 20px;
    }
}
/* End Contact  */
/* Start Footer  */
footer {
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #000;
    color: #FFF;
    text-align: center;
}
footer p a {
    text-decoration: none;
    color: var(--main-Color);
    font-size: 20px;
}
/* End Footer  */